@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");

/* variables for styling easily */
:root {
  --bg-color: #ffffff;
  --primary-text-color: #0c0c0c;
  --accent-font-color: #727272;
  --accent-color: #eaeaea;

  --logo-font: "Fira Sans", sans-serif;
  --primary-font: "Red Hat Display", sans-serif;
  --accent-font: sans-serif;
  --button-color-1: #c80000;
  --button-color-2: #eaeaea;

  --hover-button-color-1: #aa0101;
  --hover-button-color-2: #d4d4d4;
}

body {
  margin: 0;
}

header p {
  font-family: var(--accent-font);
  color: var(--accent-font-color);
}

header {
  border-bottom: var(--accent-color) solid 2px;
  background-color: #ffffff;
  z-index: 9999;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  min-width: 0;
}

header h1 {
  font-weight: 100;
  font-family: var(--logo-font);
  letter-spacing: -0.08em;
  text-align: center;
  margin: 0;
  display: flex;
  align-self: center;
  justify-content: center;
}

header h1 span {
  font-weight: 500;
}

.smallIcon {
  max-width: 1.5rem;
}

/* BUTTONS */
button {
  font-family: var(--accent-font);
}
.redButton {
  max-width: fit-content;
  /* max-height: 2rem; */
  padding: 0.6rem 1.1rem 0.6rem 1.1rem;
  text-align: center;
  border-radius: 20px;
  border-width: 0;
  background-color: var(--button-color-1);
  color: var(--bg-color);
}

.redButton:hover {
  background-color: var(--hover-button-color-1);
}

.greyButton {
  max-width: fit-content;
  /* max-height: 2rem; */
  padding: 0.6rem 1.1rem 0.6rem 1.1rem;
  text-align: center;
  border-radius: 20px;
  border-width: 0;
  background-color: var(--button-color-2);
}

.greyButton:hover {
  background-color: var(--hover-button-color-2);
}

.arrowButton {
  border-radius: 100%;
  border: solid;
  border-width: 1px;
  border-color: var(--accent-color);
  max-width: fit-content;
  max-height: 2rem;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: turn;
}

.arrowIcon {
  transform: rotate(90deg);
}

.loginSignupArea {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 15vw;
  padding-right: 2vw;
}

.turn:hover {
  /* transform: rotate(150deg); */
  animation: turn 0.8s ease-out;
}

/* endButtons */

img {
  max-width: 10rem;
}

.infoBar p {
  font-family: var(--accent-font);
  color: var(--accent-font-color);
}

.searchBarArea {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 1rem 2rem 1rem 1rem;
}

.searchBar {
  max-width: 110%;
  max-height: 2rem;
  padding-right: 10rem;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: solid;
  border-width: 0;
  font-size: 0.8rem;
}

.searchBar img {
  max-width: 1.5rem;
  max-height: 1.5rem;
}

/* Animation keyframes */
@keyframes turn {
  0% {
    transform: rotate(initial);
  }

  20% {
    transform: rotate(70deg);
  }

  40% {
    transform: rotate(110deg);
  }

  60% {
    transform: rotate(70deg);
  }

  80% {
    transform: rotate(110deg);
  }
}
