@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");

/* variables for styling easily */
:root {
  --bg-color: #ffffff;
  --primary-text-color: #0c0c0c;
  --accent-font-color: #727272;
  --accent-color: #eaeaea;

  --logo-font: "Fira Sans", sans-serif;
  --primary-font: "Red Hat Display", sans-serif;
  --accent-font: sans-serif;
  --button-color-1: #c80000;
}

body {
  margin: 0;
}

header p {
  font-family: var(--accent-font);
  color: var(--accent-font-color);
}

header {
  border-bottom: var(--accent-color) solid 2px;
  height: 60px;
  background-color: #fff;
  position: relative;
  z-index: 9999;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  justify-content: space-around;
}

header h1 {
  font-weight: 100;
  font-family: var(--logo-font);
  letter-spacing: -0.08em;
  text-align: center;
}

header h1 span {
  font-weight: 500;
}

.smallIcon {
  max-width: 1.5rem;
}

/* BUTTONS */
button {
  font-family: var(--accent-font);
}
.redButton {
  max-width: fit-content;
  padding: 0.6rem 1.1rem 0.6rem 1.1rem;
  text-align: center;
  border-radius: 20px;
  border-width: 0;
  background-color: var(--button-color-1);
  color: var(--bg-color);
}

.greyButton {
  max-width: fit-content;
  padding: 0.6rem 1.1rem 0.6rem 1.1rem;
  text-align: center;
  border-radius: 20px;
  border-width: 0;
}

.arrowButton {
  border-radius: 100%;
  border: solid;
  border-width: 1px;
  border-color: var(--accent-color);
  max-width: fit-content;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowIcon {
  transform: rotate(90deg);
}

.loginSignupArea {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 15vw;
  padding-right: 2vw;
}
/* endButtons */

img {
  max-width: 10rem;
}

.infoBar p {
  font-family: var(--accent-font);
  color: var(--accent-font-color);
}

.searchBar {
  display: flex;
  flex-direction: row;
}
